<nav>
  <ng-container *ngIf="(isLoggedIn$ | async) === false">
    <a routerLink="/login" routerLinkActive="active">Login</a> |
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </ng-container>
  <ng-container *ngIf="(isLoggedIn$ | async) === true">
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
    <ng-container *ngIf="isAdmin$ | async">
      | <a routerLink="/admin" routerLinkActive="active">Admin Panel</a>
    </ng-container>
  </ng-container>
</nav>
<router-outlet></router-outlet>
