<h2>All Tech</h2>
<!-- Navigation Tabs: "All" tab plus one for each category -->
<nav>
  <ul class="nav-tabs">
    <!-- "All" tab -->
    <li
      (click)="setActiveCategory('all')"
      [class.active]="activeCategory === 'all'"
      style="display: inline-block; padding: 10px; cursor: pointer"
    >
      All
    </li>
    <!-- Dynamic category tabs -->
    <li
      *ngFor="let category of getKeys(arrTech)"
      (click)="setActiveCategory(category)"
      [class.active]="activeCategory === category"
      style="display: inline-block; padding: 20px; cursor: pointer"
    >
      {{ category | uppercase }}
    </li>
  </ul>
</nav>

<!-- Display tech items -->
<div *ngIf="activeCategory === 'all'">
  <!-- Iterate over each category when "All" is selected -->
  <div *ngFor="let category of getKeys(arrTech)">
    <h3>{{ category | uppercase }}</h3>
    <!-- Iterate over maturity groups within each category -->
    <div *ngFor="let maturity of getKeys(arrTech[category])">
      <h4>{{ maturity | uppercase }}</h4>
      <ul class="tech">
        <!-- Iterate over each tech item in the maturity group -->
        <li *ngFor="let tech of arrTech[category][maturity]">
          <ng-container *ngIf="isAdminPanel">
            <input type="checkbox" (change)="onSelectTech($event, tech._id)" />
            <a routerLink="/detail/{{ tech._id }}" data-tooltip="Edit">✏️</a>
          </ng-container>
          <ng-container *ngIf="tech.status === 'draft'; else published">
            🏗️
          </ng-container>
          <ng-template #published> 🚀 </ng-template>
          <a routerLink="/detail/{{ tech._id }}">
            <span class="badge">{{ tech.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Display only the selected category -->
<!-- TODO: Show Tech as Card and Route for edit component -->

<div *ngIf="activeCategory !== 'all'">
  <h3>{{ activeCategory | uppercase }}</h3>
  <div *ngFor="let maturity of getKeys(arrTech[activeCategory])">
    <h4>{{ maturity | uppercase }}</h4>
    <ul class="tech">
      <li *ngFor="let tech of arrTech[activeCategory][maturity]">
        <ng-container *ngIf="isAdminPanel">
          <input type="checkbox" (change)="onSelectTech($event, tech._id)" />
          <a routerLink="/detail/{{ tech._id }}" data-tooltip="Edit">✏️</a>
        </ng-container>
        <ng-container *ngIf="tech.status === 'draft'; else published">
          🏗️
        </ng-container>
        <ng-template #published> 🚀 </ng-template>
        <a routerLink="/detail/{{ tech._id }}">
          <span class="badge">{{ tech.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<br />
<button
  *ngIf="isAdminPanel"
  (click)="deleteSelectedTechs()"
  [disabled]="selectedTechs.length === 0"
>
  Delete Selected
</button>
